.Restaurants {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.Restaurant_Container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color:hsl(26, 28%, 32%); 
    /* background-color: hsl(54, 100%, 77%); */
    /* background-color: hsl(208, 6%, 60%); */
    /* border: 4px solid gold; */
    border: 2px solid black;
    border-radius: 12px;
    height: 30vh;
    width: 9vw;
}

.FavoriteList_Container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color:hsl(26, 28%, 32%); 
    border: 2px solid black;
    border-radius: 12px;
    height: 60vh;
    width: 20vw;
}

.List_Card {
    display: flex;
	flex-direction: column;
	justify-content: space-between;
    align-items: center;
    
    background-color: hsl(40, 2%, 66%);
    /* background-color: white; */
    border: 2px solid white;
    border-radius: 12px;
    height: 50vh;
    width: 16vw;
}

.List_Button {
    display: flex;
	flex-direction: row;
	justify-content: center;
    align-items: center;

    background-color: hsl(40, 2%, 66%);
    border: 2px solid white;
    border-radius: 12px;
    height: 6vh;
    width: 16vw;
}

.Restaurant_Card {
    display: flex;
	flex-direction: column;
	justify-content: space-between;
    align-items: center;
    
    background-color: hsl(40, 2%, 66%);
    /* background-color: white; */
    border: 2px solid white;
    border-radius: 12px;
    height: 24vh;
    width: 8vw;
}

.Name_Restaurant {
    /* background-color: lightgray; */
    /* border: 2px solid black; */
    height: 5vh;
    text-align: center;

    font-family: 'Bangers', cursive;
    font-size: 12px;
    letter-spacing: 1px;
}

.Image_Restaurant {
    height: 10vh;
    border-radius: 12px;
    border: 2px solid black;
}

.Details_Restaurant {
    /* background-color: lightgray; */
    /* border: 2px solid black; */
    align-items: flex-start;
    height: 6vh;
    width: 10vw;
    margin-left: 70px;
    line-height: 20%;
}

.Text_Details {
    font-size: 8px;
}

.Button_Card {
    display: flex;
	flex-direction: row;
	justify-content: center;
    align-items: center;

    background-color: hsl(40, 2%, 66%);
    border: 2px solid white;
    border-radius: 12px;
    height: 4vh;
    width: 8vw;
}



.Text_Button {
    text-align: center;
    margin: 1%;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    color: white;
}

.Section_Text {
    font-family: 'Bangers', cursive;
    font-size: 20px;
    color: black;
    letter-spacing: 2px;
    text-align: center;
}

.Add_Button {
    background-color: hsl(26, 28%, 32%);
    /* border: 4px solid yellowgreen; */
    border: 2px solid white;
    border-radius: 12px;
    height: 3vh;
    width: 3.5vw;
    margin-bottom: 1%;
    color: white;
}

input {
    width: 70%;
    text-align: center;
}

.Update_Button {
    background-color: hsl(26, 28%, 32%);
    /* border: 4px solid yellowgreen; */
    border: 2px solid white;
    border-radius: 12px;
    height: 4vh;
    width: 6vw;
    color: white;
    margin: 5%;
}

.Delete_Button {
    background-color: hsl(26, 28%, 32%);
    /* border: 4px solid yellowgreen; */
    border: 2px solid white;
    border-radius: 12px;
    height: 4vh;
    width: 6vw;
    color: white;
    margin: 5%;
}

.Delete_Comment {
    width: 25%;
    border: 1px solid white;
}

.List_Container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1%;

    background-image: url('https://i.etsystatic.com/6356034/r/il/3372a4/1077724581/il_570xN.1077724581_rvw5.jpg');
    /* background-color: hsl(54, 100%, 77%); */
    /* border: 4px solid gold; */
    box-shadow: 5px 5px 5px 5px black;
    height: 70vh;
    width: 30vw;
}

.RestaurantList_Container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 1%;

    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3My5uuOWsGcQwa3mFHaTE4_Qx11C3zxv4TB0BndUfbwdPif-S');
    /* background-color: hsl(54, 100%, 77%); */
    /* border: 4px solid gold; */
    box-shadow: 5px 5px 5px 5px black;
    height: 70vh;
    width: 50vw;
}

.User_Input {
    background-color: lightgray;
    border: 2px solid black;
    height: 20vh;
    width: 10vw;
    margin: 1%;
}