.Title_Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: hsl(54, 100%, 77%);
    border: 4px solid gold;
    height: 10vh;
    width: 30vw;
}

h1 {
    font-family: 'Bangers', cursive;
    font-size: 55px;
}
